    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=sesion.user.username) }}">
                    <img src="{{ sesion.user.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('main.user', username=sesion.user.username) }}">
                        {{ sesion.user.username }}
                    </a>
                {% endset %}

                <br>

                <span id="post{{ sesion.id }}">{{ sesion.id }}</span>
                <span>{% if sesion.date %} Sesion date: {{ sesion.date }} {% endif %}</span>
                <span>{% if sesion.due_time %} Sesion due time: {{ sesion.due_time }} {% endif %}</span>
                <span>Sesion number of exercises: {{ sesion.exercises.count() }} </span>
                
            </td>
            <td>
                <a href="{{ url_for('main.sesion', sesion_id=sesion.id) }}">
                Click to go to sesion information
                </a>
            </td>
        </tr>
    </table>
