{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


    <a href="{{ url_for('main.user_exercises') }}">Back to all user exercises</a>
    <br>
    <br>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    
    Exercise belongs to: 
    {% if user %}
        {{ user.username }}
    {% else %}
        No assigned user
    {% endif %}
    <br>
    Exercise sets: {{ exercise.sets.count() }}
    {% set sets=exercise.sets %}

    {% for set in sets %}
        {% include "_set.html" %}
    {% endfor %}
{% endblock %}