{% extends "base.html" %}

{% block app_content %}

    <table>
        <tr>
            <td>
                <a href="{{ url_for('main.explore_sesions') }}"> Lista de todas las sesiones </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('main.explore_routines') }}"> Lista de todas las rutinas </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('main.exercises') }}"> Lista de todas las ejercicios </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('main.user_exercises') }}"> Lista de todas los ejercicios de usuarios </a>
            </td>
        </tr>
    </table>

{% endblock %}